* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body {
  --light-accent: #E4DAF0;
  --accent: #C2B1D9;
  --dark-accent: #927DAD;
}

@font-face {
  font-family: 'Roboto';
  src: url(/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.text-title {
  font-size: 24px;
  font-weight: 600;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.main {
  padding: 20px 0;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
}

.header, .footer {
  background-color: var(--accent);
  padding: 10px 0;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-button {
  background-color: var(--dark-accent);
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.border-button {
  border: 1px solid var(--accent);
  color: var(--accent);
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
}

.border-button:hover {
  filter: drop-shadow(0 0 5px var(--light-accent));
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 140px);
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
  }
}

.card{
  width: 140px;
  height: 140px;
  cursor: pointer;
  perspective: 1000px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  user-select: none;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 10px solid var(--accent);
  background-color: var(--accent);
  border-radius: 20px;  
}

.card:hover {
  filter: drop-shadow(0 0 5px var(--light-accent));
}

.card.flipped .card-inner{
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden; 
}

.card-front{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  background-color: white;
  transform: rotateY(180deg);
}

.card-back {
  background-image: url(/assets/images/card-back.jpg);
  background-position: center;
  background-size: contain;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  visibility: hidden;
}
.backdrop.active {
  visibility: visible;
}

.modal-window {
  background-color: white;
  border: 1px solid var(--accent);
  border-radius: 20px;
  padding: 20px 20px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
  visibility: hidden;
}

.empty-leaderboard {
  text-align: center;
}

.modal-window.active {
  visibility: visible;
}

.modal-title {
  align-self: center;
  background-color: var(--accent);
  padding: 10px 20px;
  border-radius: 100px;
  background: pink;
  color: white;
  background: linear-gradient(0deg, var(--dark-accent) 0%, var(--accent));
}

.modal-content {
  height: 100%;
  width: 100%;
}

.table-wrapper {
  border: 1px solid var(--accent);
  border-radius: 10px;
  width: min-content;
  overflow: hidden;
}

.leaderboard {
  width: min-content;
  border-collapse: collapse;

  th, td {
    text-align: left;
    padding: 5px 20px;
  }
  tr:not(tr:last-child) {
    border-bottom: 1px solid var(--accent);
  }
  td:not(td:last-child),
  th:not(th:last-child) {
    border-right: 1px solid var(--accent);
  }
}